/* Layout Grid */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* lock viewport height */
  overflow: hidden; /* prevent body scroll */
}

/* Header */
.header {
  background: #282c34;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0; /* prevent shrinking */
}

/* Content */
.content-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden; /* keep sidebar fixed */
}

/* Sidebar */
.sidebar {
  background: #ffffff;
  padding: 1rem;
  width: 220px;
  flex-shrink: 0; /* fixed width */
  overflow-y: auto; /* if sidebar content grows */
}


.main-content {
  flex: 1;
  padding: 1.5rem;
  /* background: #fff; */
background-color: #f4f4f4;
  overflow-y: auto; /* only this scrolls */
}

.footer {
  background: #282c34;
  color: white;
  text-align: center;
  padding: 0.1rem 0.3rem;  /* reduced padding */
  font-size: 13px;       /* smaller text */
  line-height: 1;      /* tighter spacing */
}
